/*     brand Colors              */
/* navbar color */
.has-switch {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}
.has-switch .form-group {
  margin: 0;
}
.has-switch .bootstrap-switch-wrapper {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.btn-link {
  outline: none !important;
}

.bootstrap-select > .dropdown-toggle .select-cost {
  display: none;
}
.bootstrap-select li .select-cost {
  padding-right: 20px;
  float: right;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
  background: #d3d7e9;
}

.bootstrap-switch-off:before {
  background: rgba(211, 215, 233, 0.5);
}