.dropdown-menu.inner::-webkit-scrollbar {
  width: 0.8em;
}
.dropdown-menu.inner::-webkit-scrollbar-thumb {
  border-radius: 0.4em;
  background-color: rgba(0, 0, 0, 0.08);
  border: 4px solid white;
  border-left: 0;
}
.dropdown-menu.inner::-webkit-scrollbar-track {
  margin: 0;
  box-shadow: none;
  border-left: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
}