@charset "UTF-8";

/* Import any included styles into here and the compile will include it */

.card-chart .chart-area-posts {
  height: auto;
  min-height: 350px;
}

/* Import any included styles into here and the compile will include it */

/*     brand Colors              */

/* navbar color */

/*     brand Colors              */

/* navbar color */

.has-switch {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
}

.has-switch .form-group {
  margin: 0;
}

.has-switch .bootstrap-switch-wrapper {
  margin-bottom: 0;
}

.no-margin {
  margin: 0;
}

.btn-link {
  outline: none !important;
}

.bootstrap-select.btn-group > .dropdown-toggle {
  padding: 10px 18px 10px 18px;
  border: 1px solid rgba(29, 37, 59, 0.5);
  border-radius: 0.4285rem;
}

.bootstrap-select.btn-group > .dropdown-toggle .filter-option {
  width: 100%;
  color: #1d253b;
}

.bootstrap-select.btn-group > .dropdown-toggle:after {
  color: #1d253b;
}

.bootstrap-select.btn-group > .dropdown-toggle .select-cost {
  display: none;
}

.bootstrap-select.btn-group li .select-cost {
  padding-right: 27px;
  float: right;
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
  background: #d3d7e9;
}

.bootstrap-switch-off:before {
  background: rgba(211, 215, 233, 0.5);
}

.input-group + label.error,
.form-group + label.error {
  display: block;
  margin-bottom: 10px;
  margin-top: -5px;
}

.input-group + label.error:empty,
.form-group + label.error:empty {
  display: none !important;
}

.package-column .package-button {
  display: block;
  cursor: pointer;
}

.package-column .card-pricing.card-package {
  box-shadow: 0 0 6px 1px rgba(29, 37, 59, 0.05);
  transform: scale(0.95);
  transition: all 0.15s ease;
}

.package-column .card-pricing.card-package .plan {
  margin-top: -39px;
}

.package-column .card-pricing.card-package .mark-not i,
.package-column .card-pricing.card-package .mark-is i {
  margin-left: 10px;
  color: #00f2c3;
}

.package-column .card-pricing.card-package .mark-not {
  color: #adb5bd;
  text-decoration: line-through;
}

.package-column .card-pricing.card-package .mark-not i {
  color: #fd5d93;
}

.package-column .card-pricing.card-package a {
  pointer-events: none;
}

.package-column .card-title {
  white-space: nowrap;
  text-shadow: 2px 3px 6px rgba(29, 37, 59, 0.15);
}

.package-column input:checked ~ label .card-pricing.card-package {
  box-shadow: 0 0 12px 1px rgba(29, 37, 59, 0.25);
  transform: scale(1.05);
}

.form-control:-webkit-autofill,
.form-control:-webkit-autofill:hover,
.form-control:-webkit-autofill:focus,
.form-control:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.btn.btn-image {
  display: inline-block;
  position: relative;
  padding: 0;
}

.btn.btn-image img {
  height: 90px;
}

.form-wrap {
  border: 1px solid rgba(29, 37, 59, 0.5);
  margin-top: 20px;
  padding: 20px;
  border-radius: 0.4285rem;
  position: relative;
}

.form-wrap .form-wrap-title {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 0 10px;
  white-space: nowrap;
}

.powered-image {
  position: absolute;
  height: 45px;
  margin-top: 10px;
  padding: 10px;
  background-color: white;
  right: 8px;
  bottom: -23px;
}

.card.card-subscribe {
  padding: 30px;
}

.card.card-subscribe .fade-info {
  padding: 20px 100px 10px;
  color: #6c757d;
}

.card.card-subscribe .btn {
  font-size: 18px;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}

.card.card-payment {
  padding: 30px 40px;
}

.card.card-payment .info-text {
  text-align: center;
}

.card.card-payment .btn-link {
  position: absolute;
  color: #ced4da;
  font-size: 18px;
  top: 0;
  right: 0;
  margin: 10px;
}

.check-wrap {
  position: relative;
  padding: 20px;
  transition: background-color 0.3s linear;
}

.check-wrap .head-row {
  display: flex;
  gap: 10px;
}

.check-wrap .check-mark {
  position: relative;
  width: 36px;
  height: 36px;
  display: inline-block;
}

.check-wrap .check-mark .off,
.check-wrap .check-mark .on {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 28px;
  color: #1d253b;
}

.check-wrap .check-mark .on {
  opacity: 0;
  font-size: 16px;
  color: #fb6340;
  transition: opacity 0.3s linear;
}

.check-wrap .check-title {
  display: inline-block;
  font-size: 24px;
  line-height: 36px;
  font-weight: bold;
  color: #1d253b;
}

.check-wrap .check-desc {
  font-size: 14px;
  margin: 10px 0;
  color: #1d253b;
}

.check-wrap .check-cost {
  font-size: 17px;
  margin: 5px 0;
  color: #6c757d;
}

.check-wrap .check-item {
  font-size: 14px;
  color: #1d253b;
}

.check-wrap .check-item i {
  color: #24a46d;
  margin-right: 5px;
}

.check-wrap .check-prev {
  font-size: 14px;
  color: #6c757d;
}

.check-wrap-input:checked ~ .check-wrap {
  background-color: rgba(251, 99, 64, 0.05);
}

.check-wrap-input:checked ~ .check-wrap .check-mark .on {
  opacity: 1;
}

.sub-text {
  position: relative;
  font-size: 18px;
  margin-bottom: 40px;
  max-width: 670px;
  left: 50%;
  transform: translateX(-50%);
}

.full-fade {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background-color: rgba(29, 37, 59, 0.7);
  display: grid;
  align-content: center;
  transition: all 0.6 linear;
}

label:empty {
  display: none;
}

.choice-grid {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr auto auto;
  gap: 0 10px;
  align-items: center;
}

.choice-grid .btn.remove {
  margin-bottom: 14px;
}

.no-vis {
  visibility: hidden;
}

.form-group .input-group-cards {
  display: flex;
  gap: 5px;
  margin-right: 79px;
}

.form-group .input-group-cards .img-rotator {
  display: grid;
  grid-template-columns: 24px;
  grid-template-rows: auto;
  grid-template-areas: "only";
  align-items: center;
  justify-items: center;
  position: relative;
}

.form-group .input-group-cards .img-rotator img {
  opacity: 1;
  grid-area: only;
  transition: all 0.3ms linear;
}

.form-group .input-group-cards .img-rotator .hidden {
  opacity: 0;
}

.fc-basic-view .fc-day-number,
.fc-basic-view .fc-week-number {
  padding: 2px;
  color: #344675;
}

.fc-unthemed .fc-today {
  background: #d3d7e9;
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border-color: #9499a7;
}

.fc-prev-button,
.fc-next-button {
  color: #344675;
}

.fc-prev-button:hover,
.fc-next-button:hover {
  color: #344675;
}

.fc button.btn-primary:not([data-action]):hover,
.fc button:not([data-action]):hover {
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

.dropdown-menu.inner::-webkit-scrollbar {
  width: 0.8em;
}

.dropdown-menu.inner::-webkit-scrollbar-thumb {
  border-radius: 0.4em;
  background-color: rgba(0, 0, 0, 0.08);
  border: 4px solid white;
  border-left: 0;
}

.dropdown-menu.inner::-webkit-scrollbar-track {
  margin: 0;
  box-shadow: none;
  border-left: 1px solid rgba(255, 255, 255, 0);
  background-color: transparent;
}


/*# sourceMappingURL=main.css.map*/
