.has-switch {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .form-group {
        margin: 0;
    }

    .bootstrap-switch-wrapper {
        margin-bottom: 0;
    }
}

.no-margin {
    margin: 0;
}

// .bootstrap-switch-wrapper {
//     margin-bottom: 0;
// }

.btn-link {
    outline: none !important;
}

.bootstrap-select {
    > .dropdown-toggle {
        .select-cost {
            display: none;
        }
    }

    li {
        .select-cost {
            padding-right: 20px;
            float: right;
        }
    }
}
