.card-tasks {
    // height: 473px;

    .table-full-width {
        // max-height: 410px;
        position: relative;
    }

    .card-header {
        .title {
            margin-right: 20px;
            font-weight: $font-weight-normal;
        }

        .dropdown {
            float: right;
        }
    }

    .card-body {
        i {
            font-size: 1.2em;
        }
    }
}
