.card-subscribe {
    padding: 30px;

    .fade-info {
        padding: 20px 100px 10px;
        color: $gray-600;
    }

    .btn {
        font-size: 18px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 2px;
    }
}
