%card-stats {
    hr {
        margin: 5px 15px;
    }
}

.card-stats {
    @extend %card-stats;

    .info-icon {
        position: relative;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        @include diagonal-gradient($primary, $primary-states);

        i {
            position: absolute;
            color: $white;
            font-size: 1.7em;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @each $color, $value in $main-colors {
            &.icon-#{$color} {
                @include diagonal-gradient(
                    $value,
                    map-get($main-states, '#{$color}-states')
                );
            }
        }
    }

    .numbers {
        text-align: right;
        .card-title {
            margin-top: 0;
        }
        .card-category {
            margin-bottom: 0;
            color: $gray-800;
        }
    }

    .card-footer {
        padding: 0;
    }

    hr {
        border-color: lighten($black, 5%);
    }

    .stats {
        color: rgba($white, 0.6);
        margin: 10px 15px;
        font-size: 0.9em;
    }

    &.card-white {
        hr {
            border-color: rgba(43, 53, 83, 0.2);
        }
    }
}

@include media-breakpoint-down(sm) {
    .card-stats [class*='col-'] .statistics::after {
        display: none;
    }
}
