$border: $table-border-width solid rgba($dark-states, 0.3);

.fc-theme-bootstrap {
    table.table-bordered {
        &.fc-scrollgrid {
            thead,
            tbody,
            tfoot,
            tr,
            td,
            th {
                border-style: initial;
            }

            table {
                th,
                td {
                    border: $border;
                }
            }
        }
    }

    .fc-h-event {
        background-color: $blue;
        color: color-contrast($blue);
        border-width: 0;
        padding-left: 2px;
    }

    @each $color, $value in $theme-colors {
        .event-#{$color} {
            .fc-daygrid-event-dot {
                border-color: $value;
            }

            &.fc-h-event {
                background-color: $value;
                color: color-contrast($value);
                border-width: 0;
                padding-left: 2px;
            }
        }
    }

    .fc-timegrid-divider {
        position: relative;

        &:after {
            content: '';
            background-color: rgba($dark-states, 0.5);
            position: absolute;
            left: 0;
            top: 0;
            right: 17px;
            bottom: 0;
        }
    }
}

.has-switch {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .form-group {
        margin: 0;
    }

    .bootstrap-switch-wrapper {
        margin-bottom: 0;
    }
}

.no-margin {
    margin: 0;
}

// .bootstrap-switch-wrapper {
//     margin-bottom: 0;
// }

.bootstrap-select.dropdown {
    > .dropdown-toggle {
        padding: 10px 18px 10px 18px;
        border: 1px solid rgba($dark-states, 0.5);
        border-radius: $border-radius-lg;

        .filter-option-inner-inner {
            width: 100%;
            color: $dark-states;
        }

        &:after {
            color: $dark-states;
        }

        .select-cost {
            display: none;
        }
    }

    li {
        span.text {
            display: block;
            width: 100%;
        }

        .select-cost {
            padding-right: 27px;
            float: right;
        }
    }
}

// .bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
//     background: darken($light-bg, 10%);
// }

// .bootstrap-switch-off:before {
//     background: rgba(darken($light-bg, 10%), 0.5);
// }

.input-group,
.form-group {
    + label {
        &.error {
            display: block;
            margin-bottom: 10px;
            margin-top: -5px;

            &:empty {
                display: none !important;
            }
        }
    }
}

.package-column {
    .package-button {
        display: block;
        cursor: pointer;
    }

    .card-pricing.card-package {
        box-shadow: 0 0 6px 1px rgba($dark-states, 0.05);
        transform: scale(0.95);
        transition: $transition-base;

        .plan {
            margin-top: -39px;
        }

        .mark-not,
        .mark-is {
            i {
                margin-left: 10px;
                color: $success;
            }
        }

        .mark-not {
            color: $gray-500;
            text-decoration: line-through;

            i {
                color: $danger;
            }
        }

        a {
            pointer-events: none;
        }
    }

    .card-title {
        white-space: nowrap;
        text-shadow: 2px 3px 6px rgba($dark-states, 0.15);
    }

    input:checked {
        ~ label {
            .card-pricing.card-package {
                box-shadow: 0 0 12px 1px rgba($dark-states, 0.25);
                transform: scale(1.05);
            }
        }
    }
}

.form-control {
    &:-webkit-autofill {
        &,
        &:hover,
        &:focus,
        &:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }
}

.btn {
    &.btn-image {
        display: inline-block;
        position: relative;
        padding: 0;

        img {
            height: 90px;
        }
    }
}

.form-wrap {
    border: 1px solid rgba($dark-states, 0.5);
    margin-top: 20px;
    padding: 20px;
    border-radius: $border-radius-lg;
    position: relative;

    .form-wrap-title {
        display: inline-block;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: white;
        padding: 0 10px;
        white-space: nowrap;
    }
}

.powered-image {
    position: absolute;
    height: 45px;
    margin-top: 10px;
    padding: 10px;
    background-color: white;
    right: 8px;
    bottom: -23px;
}

.check-wrap {
    position: relative;
    padding: 20px;
    transition: background-color 0.3s linear;

    .head-row {
        display: flex;
        gap: 10px;
    }

    .check-mark {
        position: relative;
        width: 36px;
        height: 36px;
        display: inline-block;

        .off,
        .on {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            font-size: 28px;
            color: $dark-states;
        }

        .on {
            opacity: 0;
            font-size: 16px;
            color: $orange;
            transition: opacity 0.3s linear;
        }
    }

    .check-title {
        display: inline-block;
        font-size: 24px;
        line-height: 36px;
        font-weight: bold;
        color: $dark-states;
    }

    .check-desc {
        font-size: 14px;
        margin: 10px 0;
        color: $dark-states;
    }

    .check-cost {
        font-size: 17px;
        margin: 5px 0;
        color: $gray-600;
    }

    .check-item {
        font-size: 14px;
        color: $dark-states;

        i {
            color: darken($green, 10%);
            margin-right: 5px;
        }
    }

    .check-prev {
        font-size: 14px;
        color: $gray-600;
    }
}

.check-wrap-input {
    &:checked ~ .check-wrap {
        background-color: rgba($orange, 0.05);

        .check-mark {
            .on {
                opacity: 1;
            }
        }
    }
}

.sub-text {
    position: relative;
    font-size: 18px;
    margin-bottom: 40px;
    max-width: 670px;
    left: 50%;
    transform: translateX(-50%);
}

.full-fade {
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9999;
    background-color: rgba($dark-states, 0.7);
    display: grid;
    align-content: center;
    transition: all 0.6 linear;
}

label:empty {
    display: none;
}

.choice-grid {
    display: grid;
    grid-template-columns: 2fr 2fr 1fr auto auto;
    gap: 0 10px;
    align-items: center;

    .btn.remove {
        margin-bottom: 14px;
    }
}

.no-vis {
    visibility: hidden;
}

.form-group {
    .input-group-cards {
        display: flex;
        gap: 5px;
        margin-right: 79px;

        .img-rotator {
            display: grid;
            grid-template-columns: 24px;
            grid-template-rows: auto;
            grid-template-areas: 'only';
            align-items: center;
            justify-items: center;
            position: relative;

            img {
                opacity: 1;
                grid-area: only;
                transition: all 0.3ms linear;
            }

            .hidden {
                opacity: 0;
            }
        }
    }
}
