.dropdown-menu {
    border: 0;
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
    border-radius: $border-radius-xs;

    @include transitions($fast-transition-time, $transition-linear);

    .dropdown-item {
        &.active,
        &:active {
            color: inherit;
        }

        i {
            margin-right: 5px;
            position: relative;
            top: 1px;
        }

        @include icon-classes {
            margin-right: 10px;
            position: relative;
            top: 4px;
            font-size: 18px;
            margin-top: -5px;
            opacity: 0.5;
        }
    }

    .bootstrap-select & {
        &:not(.inner) {
            padding: 0;
        }

        &.inner {
            padding: 10px 0;

            &::before {
                display: none;
            }
        }
    }

    &:before {
        // bottom-start
        display: inline-block;
        position: absolute;
        width: 0;
        height: 0;
        vertical-align: middle;
        content: '';
        top: -10px;
        left: 10px;
        right: auto;
        color: $white;
        border-width: 0.4em;
        border-style: solid;
        border-color: transparent transparent $white transparent;
    }

    &[data-popper-placement='bottom-end']:before {
        left: auto;
        right: 10px;
    }

    &[data-popper-placement='top-end']:before {
        top: auto;
        bottom: -10px;
        right: 10px;
        left: auto;
        border-color: $white transparent transparent transparent;
    }

    &[data-popper-placement='top-start']:before {
        top: auto;
        bottom: -10px;
        right: auto;
        left: 10px;
        border-color: $white transparent transparent transparent;
    }

    &[data-popper-placement='right-start']:before {
        top: 10px;
        bottom: auto;
        right: auto;
        left: -10px;
        border-color: transparent $white transparent transparent;
    }

    &[data-popper-placement='right-end']:before {
        top: auto;
        bottom: 10px;
        right: auto;
        left: -10px;
        border-color: transparent $white transparent transparent;
    }

    &[data-popper-placement='left-start']:before {
        top: 10px;
        bottom: auto;
        right: -10px;
        left: auto;
        border-color: transparent transparent transparent $white;
    }

    &[data-popper-placement='left-end']:before {
        top: auto;
        bottom: 10px;
        right: -10px;
        left: auto;
        border-color: transparent transparent transparent $white;
    }

    .dropdown-item,
    .bootstrap-select &.inner li a {
        font-size: $font-size-sm;
        padding-top: 0.6rem;
        padding-bottom: 0.6rem;
        margin-top: 5px;

        @include transitions($fast-transition-time, $transition-linear);

        &:hover,
        &:focus {
            background-color: $opacity-gray-3;
        }

        &.disabled,
        &:disabled {
            color: $default-opacity;

            &:hover,
            &:focus {
                background-color: transparent;
                box-shadow: none;
            }
        }
    }

    .dropdown-divider {
        background-color: $opacity-gray-5;
    }

    .dropdown-header:not([href]):not([tabindex]) {
        color: $default-opacity;
        font-size: $font-size-xs;
        text-transform: uppercase;
        font-weight: $font-weight-bold;
    }

    &.dropdown-primary {
        @include dropdown-colors(
            darken($primary, 3%),
            $opacity-8,
            $white,
            $opacity-2
        );
    }

    &.dropdown-info {
        @include dropdown-colors(
            darken($info, 3%),
            $opacity-8,
            $white,
            $opacity-2
        );
    }

    &.dropdown-danger {
        @include dropdown-colors(
            darken($danger, 3%),
            $opacity-8,
            $white,
            $opacity-2
        );
    }

    &.dropdown-success {
        @include dropdown-colors(
            darken($success, 3%),
            $opacity-8,
            $white,
            $opacity-2
        );
    }

    &.dropdown-warning {
        @include dropdown-colors(
            darken($warning, 3%),
            $opacity-8,
            $white,
            $opacity-2
        );
    }

    &.bootstrap-datetimepicker-widget.top {
        visibility: hidden;
        display: block;
        @include opacity(0);
    }

    &.dropdown-navbar {
        &:before,
        &:after {
            left: auto;
            right: 17px;
        }
    }

    &.dropdown-grid.show {
        padding: $spacer-2;
        display: grid;
        gap: $spacer-2;

        > * {
            > input,
            .input-group {
                margin: 0;
            }
        }
    }
}

.btn {
    cursor: pointer;

    span.bs-caret {
        display: none;
    }
}

.dropdown-toggle {
    &::after {
        content: unset;
    }

    &.no-caret {
        &::before,
        &::after {
            display: none;
        }
    }
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show > .btn.dropdown-toggle:focus {
    box-shadow: none;
}

// Dropown: Sizes

.dropdown-menu-sm {
    min-width: 100px;
    border: $border-radius-lg;
}

.dropdown-menu-lg {
    min-width: 260px;
    border-radius: $border-radius-lg;
}

.dropdown-menu-xl {
    min-width: 450px;
    border-radius: $border-radius-lg;
}

@include media-breakpoint-down(md) {
    .button-dropdown {
        display: none;
    }

    .dropdown-toggle:after {
        display: inline-block;
        width: 0;
        height: 0;
        margin-left: 0.255em;
        vertical-align: 0.255em;
        content: '';
        border-top: 0.3em solid;
        border-right: 0.3em solid transparent;
        border-bottom: 0;
        border-left: 0.3em solid transparent;
    }
}

@include media-breakpoint-up(lg) {
    .dropdown-menu .dropdown-item {
        color: $gray-600;
    }
}

.dropdown-menu.inner {
    &::-webkit-scrollbar {
        width: 0.8em;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0.4em;
        background-color: rgba(#000, 0.08);
        border: 4px solid rgba(#fff, 1);
        border-left: 0;
    }

    &::-webkit-scrollbar-track {
        margin: 0;
        box-shadow: none;
        border-left: 1px solid rgba(#fff, 0);
        background-color: transparent;
    }
}
