.row {
    > * {
        > * {
            margin-bottom: var(--bs-gutter-x);
        }
    }

    &.row-sm,
    &.row-form {
        margin-right: calc(var(--bs-gutter-x) * -0.25);
        margin-left: calc(var(--bs-gutter-x) * -0.25);

        > * {
            padding-right: calc(var(--bs-gutter-x) * 0.25);
            padding-left: calc(var(--bs-gutter-x) * 0.25);

            > * {
                margin-bottom: calc(var(--bs-gutter-x) * 0.5);
            }
        }
    }

    &.row-lg {
        margin-right: calc(var(--bs-gutter-x) * -0.75);
        margin-left: calc(var(--bs-gutter-x) * -0.75);

        > * {
            padding-right: calc(var(--bs-gutter-x) * 0.75);
            padding-left: calc(var(--bs-gutter-x) * 0.75);

            > * {
                margin-bottom: calc(var(--bs-gutter-x) * 1.5);
            }
        }
    }
}
