@include form-control-lg-padding(
    $padding-lg-vertical,
    $padding-input-horizontal
);

// @include input-base-padding($padding-input-vertical, $padding-input-horizontal);

.form-group.no-border,
.input-group.no-border {
    .form-control,
    .form-control + .input-group-text {
        background-color: $gray-100;
        border: medium none;

        &:focus,
        &:active,
        &:active {
            border: medium none;
            background-color: $gray-200;
        }
    }

    .form-control {
        &:focus {
            & + .input-group-text {
                background-color: $gray-200;
            }
        }
    }

    .input-group-text {
        background-color: $gray-100;
        border: none;
    }
}

.input-group-text {
    background-color: transparent;
    border: 1px solid rgba($dark-states, 0.5);
    border-radius: $border-radius-lg;
    color: $dark-states;
    margin: 0;

    @include transition-input-focus-color;

    & + .form-control,
    & ~ .form-control {
        @include input-size(
            $padding-base-vertical - 1,
            $padding-base-horizontal
        );

        padding-left: 18px;
    }

    i {
        opacity: 0.5;
    }
}

.btn {
    border: 1px solid rgba($dark-states, 0.5);
    // border-radius: $border-radius-lg;
    margin: 0;
}

.input-group {
    .form-control:not(:first-child),
    .input-group-btn:not(:first-child) {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        border-left: 0;
    }

    .form-control:not(:last-child),
    .input-group-btn:not(:last-child) {
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-right: 0;
    }

    // .btn {
    //     display: flex;
    //     align-items: center;
    //     padding: $input-padding-y $input-padding-x;
    //     margin: 0;
    //     font-size: $font-size-base;
    //     font-weight: $font-weight-bold;
    //     line-height: $input-line-height;
    //     border-color: $primary;
    // }
}

textarea.form-control {
    max-width: 100%;
    min-height: 80px;
    resize: none;

    &.underline {
        border: none;
        border-bottom: 1px solid lighten($black, 5%);
        border-radius: 0;

        &:focus,
        &:active {
            border-left: none;
            border-top: none;
            border-right: none;
        }
    }
}

.form.form-newsletter .form-group {
    float: left;
    width: 78%;
    margin-right: 2%;
    margin-top: 9px;
}

.input-group .input-group-btn {
    padding: 0 12px;
}

// Input files - hide actual input - requires specific markup in the sample.
.form-group input[type='file'] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
}

.form-text {
    font-size: $font-size-sm;
    color: rgba($white, 0.8);
}

// .form-control-lg {
//     // padding: 0;
//     // font-size: inherit;
//     // line-height: 0;
//     // border-radius: 0;

//     .form-control {
//         height: calc(2.875rem + 2px);
//     }
// }

.form-horizontal {
    .col-form-label,
    .label-on-right {
        padding: 10px 5px 0 15px;
        text-align: right;
        max-width: 180px;
    }

    .checkbox-radios {
        margin-bottom: 15px;

        .form-check:first-child {
            margin-top: 8px;
        }
    }

    .label-on-right {
        text-align: left;
        padding: 10px 15px 0 5px;
    }

    .form-check-inline {
        margin-top: 6px;

        .form-check-label {
            margin-right: 1.5rem;
        }
    }
}

.search-bar {
    // margin-left: $margin-lg-vertical;

    .btn {
        margin: 0;
    }

    &.input-group {
        border-radius: 25px;
        z-index: 4;
        margin-bottom: 0;
        height: 43px;

        .input-group-addon {
            padding: 10px;
            background: transparent;
            border: none;
            color: rgba(255, 255, 255, 0.7);
        }

        i {
            font-size: 20px;
            color: white;
            margin-top: 0 !important;
        }

        input {
            background: transparent;
            border: none !important;
            border-radius: 0;
            padding: 12px !important;
            font-size: 12px;
            opacity: 0.5;

            &:focus {
                background: transparent;
            }
        }

        .form-control {
            opacity: 1;
            color: $white;

            &::placeholder {
                color: white;
            }
        }
    }
}

.modal-search .modal-dialog {
    max-width: 1000px;
    margin: 20px auto;

    .form-control {
        border: none;
        color: $black;

        &::placeholder {
            color: $black;
        }
    }
}

.input-group,
.form-group {
    + label {
        &.error {
            display: block;
            margin-bottom: 10px;
            margin-top: -5px;

            &:empty {
                display: none !important;
            }
        }
    }
}

.form-control {
    &:-webkit-autofill {
        &,
        &:hover,
        &:focus,
        &:active {
            -webkit-box-shadow: 0 0 0 30px white inset !important;
        }
    }
}

.input-group {
    border: 1px solid rgba($dark-states, 0.5);
    border-radius: $input-border-radius;

    .input-wrap {
        position: relative;
        -webkit-box-flex: 1;
        -webkit-flex: 1 1 auto;
        -ms-flex: 1 1 auto;
        flex: 1 1 auto;
        width: 1%;
        min-width: 0;
    }

    .form-control,
    .input-group-text {
        border: 0 !important;
        background-color: transparent !important;
    }

    .btn {
        border: 0 !important;
    }

    &.has-danger:not(:focus-within) {
        border-color: rgba($danger, 0.5);
        // background-color: rgba($danger, 0.03);

        .form-control,
        .input-group-text {
            // color: $danger;
        }
    }

    &.has-success:not(:focus-within) {
        border-color: rgba($success, 0.7);
        // background-color: rgba($success, 0.06);

        .form-control,
        .input-group-text {
            // color: $success;
        }
    }

    &:focus-within {
        border-color: $primary;
    }

    &[disabled],
    &[readonly] {
        background-color: $gray-100;
        border-color: rgba($dark-states, 0.3);

        .form-control,
        .input-group-text {
            color: rgba($dark-states, 0.6);
        }
    }
}

.input-group {
    @include input-base-padding($input-padding-y, $input-padding-x);

    // margin-bottom: map-get($spacers, 2);

    .form-control-static {
        margin-top: 9px;
    }

    .input-label {
        position: absolute;
        display: block;
        top: -1px;
        left: -1px;
        font-size: $input-font-size;
        line-height: $input-line-height;
        color: $input-placeholder-color;
        margin: 0;
        transition: all 0.2s ease-in-out;
        border: 1px solid transparent;
        cursor: text;
    }

    .dropdown,
    .form-control {
        &.has-value,
        &:focus {
            + .input-label {
                transform: translate(-5px, -50%) scale(0);
                opacity: 0;
            }
        }
    }

    &.input-group-sm {
        // margin-bottom: map-get($spacers, 1);
        border-radius: $input-border-radius-sm;

        @include input-base-padding($input-padding-y-sm, $input-padding-x-sm);

        .input-label,
        .form-control {
            @include font-size($input-font-size-sm);
        }

        .btn.dropdown-toggle {
            padding: $input-padding-y-sm $input-padding-x-sm;
            @include font-size($input-font-size-sm);
            @include border-radius($input-border-radius-sm);
        }
    }

    &.input-group-lg {
        // margin-bottom: map-get($spacers, 3);
        border-radius: $input-border-radius-lg;

        @include input-base-padding($input-padding-y-lg, $input-padding-x-lg);

        .input-label,
        .form-control {
            @include font-size($input-font-size-lg);
        }

        .btn.dropdown-toggle {
            padding: $input-padding-y-lg $input-padding-x-lg;
            @include font-size($input-font-size-lg);
            @include border-radius($input-border-radius-lg);
        }
    }

    &.rounded-pill {
        .btn {
            &:first-child {
                border-top-left-radius: $border-radius-pill;
                border-bottom-left-radius: $border-radius-pill;
            }

            &:last-child {
                border-top-right-radius: $border-radius-pill;
                border-bottom-right-radius: $border-radius-pill;
            }
        }
    }
}

.switch-wrap {
    .input-label {
        font-size: $input-font-size;
        padding-left: $input-padding-x;
    }

    &.switch-wrap-sm {
        .input-label {
            font-size: $input-font-size-sm;
            padding-left: $input-padding-x-sm;
        }
    }

    &.switch-wrap-lg {
        .input-label {
            font-size: $input-font-size-lg;
            padding-left: $input-padding-x-lg;
        }
    }
}

.form-group,
.input-group {
    &.perfect-scrollbar {
        position: relative;
        max-height: 80px;
    }
}

.grow-wrap {
    display: grid;

    &::after {
        content: attr(data-replicated-value) ' ';
        white-space: pre-wrap;
        visibility: hidden;
    }

    > textarea {
        resize: none;
        overflow: hidden;
        max-height: initial;
    }

    > textarea,
    &::after {
        padding: $input-padding-y $input-padding-x;
        border: 0;
        font: inherit;
        grid-area: 1 / 1 / 2 / 2;
    }
}
