/* Animations */
.nav-pills .nav-link,
.navbar,
.nav-tabs .nav-link,
.sidebar .nav a,
.sidebar .nav a i,
.sidebar .nav p,
.navbar-collapse .navbar-nav .nav-link,
.animation-transition-general,
.tag,
.tag [data-role='remove'],
.animation-transition-general {
    @include transitions($general-transition-time, $transition-ease);
}

//transition for dropdown caret
.bootstrap-switch-label:before,
.caret {
    @include transitions($fast-transition-time, $transition-ease);
}

.dropdown-toggle[aria-expanded='true']:after,
a[data-bs-toggle='collapse'][aria-expanded='true'] .caret,
.card-collapse .card a[data-bs-toggle='collapse'][aria-expanded='true'] i,
.card-collapse .card a[data-bs-toggle='collapse'].expanded i {
    @include rotate-180();
}

.caret {
    width: 0;
    height: 0;
    vertical-align: middle;
    border-top: 4px dashed;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    margin-top: -5px;
    position: absolute;
    top: 30px;
    margin-left: 5px;
}

code {
    color: $pink;
}

.ps .ps__rail-x,
.ps .ps__rail-y {
    &:hover,
    &:focus,
    &.ps--clicking {
        background-color: transparent;
        opacity: 0.9;
    }
}
