// Modals
// Design element Dialogs
// --------------------------------------------------
.modal-content {
    border: 0;

    // Modal header
    // Top section of the modal w/ title and dismiss

    .modal-header {
        border-bottom: none;
    }

    // Footer (for actions)
    .modal-footer {
        border-top: 0;
    }
}

.modal-search {
    .modal-dialog {
        margin: 20px auto;
        max-width: 650px;
        input {
            border: none;
            font-size: 17px;
            font-weight: 100;
        }
        span {
            font-size: 35px;
            color: $search-gray;
        }
    }
    .modal-content {
        .modal-header {
            padding: 24px;
        }
    }

    .modal-header .close {
        color: rgba($gray-700, 0.6);
        top: 30px !important;
        background: transparent;
        border: 0;

        i {
            margin-top: 6px;
        }
    }

    .modal-footer {
        border-top: 2px solid #f9f9f9;
        margin: 0 25px 20px;
    }
}
