.has-switch {
    display: flex;
    align-items: center;
    padding-bottom: 10px;

    .form-group {
        margin: 0;
    }

    .bootstrap-switch-wrapper {
        margin-bottom: 0;
    }
}

.no-margin {
    margin: 0;
}

// .bootstrap-switch-wrapper {
//     margin-bottom: 0;
// }

.btn-link {
    outline: none !important;
}

.bootstrap-select.btn-group {
    > .dropdown-toggle {
        padding: 10px 18px 10px 18px;
        border: 1px solid rgba($black-states, 0.5);
        border-radius: $border-radius-lg;

        .filter-option {
            width: 100%;
            color: $black-states;
        }

        &:after {
            color: $black-states;
        }

        .select-cost {
            display: none;
        }
    }

    li {
        .select-cost {
            padding-right: 20px;
            float: right;
        }
    }
}

.bootstrap-switch.bootstrap-switch-off .bootstrap-switch-label {
    background: darken($light-bg, 10%);
}

.bootstrap-switch-off:before {
    background: rgba(darken($light-bg, 10%), 0.5);
}
